{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11977",
        "x-ms-response-type": "standard",
        "x-request-time": "0.283"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
        "name": "cpu-cluster",
        "type": "Microsoft.MachineLearningServices/workspaces/computes",
        "location": "centraluseuap",
        "tags": {},
        "properties": {
          "createdOn": "2022-09-22T09:02:22.1899959\u002B00:00",
          "modifiedOn": "2022-11-21T09:48:12.4511558\u002B00:00",
          "disableLocalAuth": false,
          "description": null,
          "resourceId": null,
          "computeType": "AmlCompute",
          "computeLocation": "centraluseuap",
          "provisioningState": "Succeeded",
          "provisioningErrors": null,
          "isAttachedCompute": false,
          "properties": {
            "vmSize": "STANDARD_DS2_V2",
            "vmPriority": "Dedicated",
            "scaleSettings": {
              "maxNodeCount": 6,
              "minNodeCount": 1,
              "nodeIdleTimeBeforeScaleDown": "PT2M"
            },
            "subnet": null,
            "currentNodeCount": 1,
            "targetNodeCount": 1,
            "nodeStateCounts": {
              "preparingNodeCount": 0,
              "runningNodeCount": 1,
              "idleNodeCount": 0,
              "unusableNodeCount": 0,
              "leavingNodeCount": 0,
              "preemptedNodeCount": 0
            },
            "allocationState": "Steady",
            "allocationStateTransitionTime": "2022-11-24T10:09:28.684\u002B00:00",
            "errors": null,
            "remoteLoginPortPublicAccess": "Enabled",
            "osType": "Linux",
            "virtualMachineImage": null,
            "isolatedNetwork": false,
            "propertyBag": {}
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/jobs/test_568994744213?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "properties": {},
          "tags": {},
          "computeId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/computes/cpu-cluster",
          "displayName": "hello_pipeline_abc",
          "experimentName": "azure-ai-ml",
          "isArchived": false,
          "jobType": "Pipeline",
          "inputs": {
            "hello_string_top_level_input": {
              "jobInputType": "literal",
              "value": "hello world"
            }
          },
          "jobs": {
            "environment_on_registry": {
              "name": "environment_on_registry",
              "type": "command",
              "_source": "REMOTE.REGISTRY",
              "componentId": "azureml://registries/testFeed/components/my_hello_world_asset_2/versions/1"
            },
            "component_on_registry": {
              "name": "component_on_registry",
              "type": "command",
              "_source": "REMOTE.REGISTRY",
              "componentId": "azureml://registries/testFeed/components/sample_command_component_basic/versions/1"
            },
            "component_on_registry_via_label": {
              "name": "component_on_registry_via_label",
              "type": "command",
              "_source": "REMOTE.REGISTRY",
              "componentId": "azureml://registries/testFeed/components/sample_command_component_basic/labels/latest"
            },
            "component_on_registry_via_label_2": {
              "name": "component_on_registry_via_label_2",
              "type": "command",
              "_source": "REMOTE.REGISTRY",
              "componentId": "azureml://registries/testFeed/components/sample_command_component_basic@latest"
            }
          },
          "outputs": {},
          "settings": {
            "_source": "YAML.JOB"
          }
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-test-westus2-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "error",
        "x-request-time": "1.510"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "key: azureml://registries/testFeed/components/sample_command_component_basic/labels/latest, Message: Invalid component id azureml://registries/testFeed/components/sample_command_component_basic/labels/latest.key: azureml://registries/testFeed/components/sample_command_component_basic@latest, Message: LineageRoot not found for assetReference azureml://registries/testFeed/components/sample_command_component_basic@latest/labels/default",
          "details": [],
          "additionalInfo": [
            {
              "type": "ComponentName",
              "info": {
                "value": "managementfrontend"
              }
            },
            {
              "type": "Correlation",
              "info": {
                "value": {
                  "operation": "0ecb5c7cb95e73e690e4bbc29d345adc",
                  "request": "7b3cdf05949eca00"
                }
              }
            },
            {
              "type": "Environment",
              "info": {
                "value": "master"
              }
            },
            {
              "type": "Location",
              "info": {
                "value": "westus2"
              }
            },
            {
              "type": "Time",
              "info": {
                "value": "2022-11-24T10:20:45.6492604\u002B00:00"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "name": "test_568994744213"
  }
}
